// Define variables for your color scheme

// For example:
$red: #EA526F;
$blue: #0094C6;
$dark-blue: #001521;
$second-blue: #001D2E;
$green: #50FFB1;
$gray: #959595;
$light-gray: #D8D8D8;

// DON'T USE
$yellow: #FDB631;
$orange: #E67E22;
