.container3 {
  min-height: 80vh;
  .third-nav {
    background-color: $red;
  }

  .card-description {
    img {
      width: 55%;
    }
  }
  .img-data {
    width: 500px;
    height: auto;
    margin-top: 120px;
  }
}

.third-nav {

}
