.dashboard_grid2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 1fr;
}



.odds-container{
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.odds-container2 {
  height: 80vh;
  overflow-y: scroll;
}

.filter-bar {
  width: 97%;
  margin: 10px;
  height:41px;
  background-color: white;
  font-size: 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    color: $dark-blue;
    &:hover {
      text-decoration: none;

    }
  }

  .dashboard-tab {
    width: 25%;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.5);
    &:hover {
      background-color: $green;
    }
  }


}

.testwork-lost {
  background-color: $red !important;
}
// VIEW 2
// .dashboard-second-grid {
//   display: flex;
//   flex-direction: column;
//   .filter-bar {
//     flex: 0 0 auto;
//   }
//   .odds-container {
//     flex: 1 0 auto;
//   }
// }
