.dashboard_grid3 {
  h3 {
    margin-top: 5px;
  }

  height: calc(100vh - 70px);
  .main-chart2 {
    height: 300px;

  }
  .odds-container2 {

  }
  .odds-container {
    height: 40vh;
    overflow-y: scroll;
  }
}


.filter-bar2{

}

