.dashboard_grid3 {
  h3 {
    margin-top: 5px;
  }

  height: calc(100vh - 70px);
  .main-chart2 {
    height: 300px;

  }
  .odds-container2 {
    height: 70vh;
    overflow-y: scroll;
  }
  .odds-container {

  }
}


.filter-bar2{
}

.fuckoff {
  border-radius: 8px;
  background-color: $red;
  border: none;
  a {
    color: black;
    &:hover {
      border-bottom: 1px solid $red;
    }
  }
  &:hover {
    background-color: white;
  }
}

.cancel-subscription {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
