
.banner-team-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#show-banner-hex {
  height: 470px;
}

