// TEAM-BANNER (header - info)

#databall-rating {
  display: flex;
  align-items: center;
  flex-flow: column;
}

#databall-rating-hex-show {
  p {
    opacity: 1;
  }
}
.odds-show-grid {
  margin-bottom: 100px;
  h2, h3, h4, h6 {
    opacity: 0.6;
  }
  p {
    opacity: 1;
  }
}

// CONTAINERS (page wrappers)
.container3-show {
  height: auto;
}

#model-output-container {
  min-height: 64vh
}

.banner.show {
  min-height: 85vh;
}
#show-page-banner {
  height: 95vh;
}

.banner-team-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
}

.team-image {
  img {
    height: 200px;
  }
}

.banner-content{
  min-height: 750px;
}

// HEX GRID (probabilities)
#hex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

// BUTTON
// .show-page-hover-button{
//   padding-top: 42px;
// }


// GRID
.match-info-grid {
  display: grid;
  grid-template-columns:50% 50%;
  grid-template-rows:50% 50%;
  // width: ;
  .grid {
    max-width: 250px;
  }
}

#model-show-head {
  text-decoration: underline $green;
  padding-bottom: 15px;
}

#prediction {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
}
#model-odds {
  grid-column: 2/span 1;
  grid-row: 1/span 1;
}
#databall-rating {
  grid-column: 1/span 1;
  grid-row: 2/span 1;
}
#bookies-odds {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
  p {
    margin-top: 30px;
  }
}

// MODEL INFO CONTAINER
.team-offensive-score{
  p.data {
    color: $green;
  }
}

.team-defensive-score{
  p.data {
    color: $red;
  }
}

//HEX CONTAINER
.hex-container {
  display: flex;
  justify-content: space-around
}

.hex-grid-container {
  margin-bottom: 100px;
}

.hex-grid-center {
  margin-left: 15%;
}

// TEAM INFO CONTAINER
.team-info-container {
  p {
    margin: 0;
    padding: 0;
  }
}
.team-form-container {
  .form-table {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
  }
}

.form-column {
  width: 450px;
  font-size: 15px;
  display: flex;
  justify-content: space-around;

}
