<div class="dashboard-navigation">
  <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#main-grid" aria-controls="main-grid" role="tab" data-toggle="tab">
          <i class="fa fa-home" aria-hidden="true"></i>
        </a>
      </li>
      <li role="presentation">
        <a href="#second-grid" aria-controls="second-grid" role="tab" data-toggle="tab">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </a>
      </li>
      <li role="presentation">
        <a href="#third-grid" aria-controls="third-grid" role="tab" data-toggle="tab">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </a>
      </li>
  </ul>
</div>

