<div class="svg-wrapper">
  <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
    <rect class="shape" height="60" width="320" />
  </svg>
  <%= link_to "#", "data-toggle" => "modal", "data-target" => "#makeBet-#{odd.id}" do %>
  <div class="text">PLACE BET</div>
  <% end %>
</div>





