    <div class="container-all container2" style="background-color: #001D2E; width: 100%;">
      <div class="landing-page-navigation"><div class="first-nav"></div><div class="second-nav"></div><div class="third-nav"></div></div>
      <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-category" style="white-space: nowrap;">
            <h2 style="font-size: 32px; text-transform: lowercase; font-weight: lighter;";>Giving you <span class="span-blue" style="font-size: 53px;">access</span> to <br>advanced<span class="span-blue"> data science</span><br><span class="span-blue"> methods</span></h2>
          </div>
          <div class="card-description">
            <div class="card-desc1" style="border-left:1px solid #1795C4 !important;">
              <h4>Make use of our <span class="span-blue">bespoke<br></span> multi-layered <span class="span-blue">statistical model</span></h4>
            </div>
            <div class="card-desc2" style="border-left:1px solid #1795C4 !important;">
              <h4>Utilise the <span class="span-blue">power of data science</span> without needing a PhD</h4>
            </div>
          </div>
        </div>
      </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card card2">
            <div class="card-category" style="position: absolute;left: 400px;">
              <%= image_tag 'bluehex.png' %>
            </div>
            <div class="card-desc" style="position: absolute; left: 300px; bottom: 50px;">
              <%= image_tag "chart-line.png" %>
            </div>
          </div>
        </div>
      </div>
    </div>
