    <div class="container-all container1" style="background-color: #001521; width: 100%;">
      <div class="landing-page-navigation"><div class="first-nav"></div><div class="second-nav"></div><div class="third-nav"></div></div>
      <div class="row" id="padding-top-resize-for-graph">
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <div class="card-category"><%= image_tag 'greenhex.png' %></div>
            <div class="card-description">
              <%= image_tag 'greennet.png' %>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <div class="card-category">
              <h2 style="text-transform: lowercase; font-size: 50px;">We make</h2><h3 style="text-transform: lowercase;"><span class="span-green">picking winners</h3></span> <span class="span-green"><h4 style="text-transform: lowercase;">simple</h4></span>
            </div>
            <div class="card-description">
              <div class="card-desc1">
                <h4>A simple <span class="span-green">recommendation</span> system<h4>
                 <h4>outlining the best bets from <span>across Europe</span></h4>
              </div>
              <div class="card-desc2">
                <h4>Delve <span class="span-green">deeper</span> into the bets that catch your eye before you <span>make the bet</span></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

      <!-- TOMMY'S CODE -->
<!--       <div class="container-hex-number" id="hex1"><%# image_tag 'greenhex.png' %></div>
      <div class="container-image1"><%# image_tag 'greennet.png' %></div>
      <div class="content" id="content1">
        <div class="headers">
          <h2 style="text-transform: lowercase; font-size: 50px;">We make</h2><h3 style="text-transform: lowercase;"><span class="span-green">picking winners</h3></span> <span class="span-green"><h4 style="text-transform: lowercase;">simple</h4></span>
        </div>
        <div class="desc1">
          <h4>A simple <span class="span-green">recommendation</span> system<h4>
          <h4>outlining the best bets from <span>across Europe</span></h4>
        </div>
        <div class="desc2">
          <h4>Delve <span class="span-green">deeper</span> into the bets that catch your eye before you <span>make the bet</span></h4>
        </div>
      </div>
    </div> -->
