<div class="container-all container3" style="background-color: #001521; width: 100%;">
  <div class="landing-page-navigation"><div class="first-nav"></div><div class="second-nav"></div><div class="third-nav"></div></div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <div class="card-category"><%= image_tag 'pinkhex.png' %></div>
            <div class="card-description">
              <%= image_tag "3pinkhex.png" %>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-sm-offset-2">
          <div class="card">
            <div class="card-category" style="position: absolute; bottom: 55%; white-space: nowrap;">
              <h3 style="text-transform: lowercase;">Allowing you to <br><span class="span-pink" style="font-size: 45px;">track performance<br> </span>of <span class="span-pink">your portfolio</span></h3>
            </div>
            <div class="card-description">
              <div class="card-desc1 pink-hex">
                <h4><span class="span-pink">Add bets</span> to your profile to keep <br><span class="span-pink">track</span> of your <span class="span-pink">winnings</span></h4>
              </div>
              <div class="card-desc2 pink-hex">
                <h4>Use our tool to <span class="span-pink">test the model</span><br>performance over time</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
