<div class="banner">
  <div class="banner-hex">
    <div class="banner-content">
        <h1>Betting Insights, Informed by Data</h1>
        <p>data driven recommendations for only <strike class="strike-price">£15</strike> <span class="price-landing">£5</span> per month</p>
        <div class="btn btn-primary" data-toggle="modal" data-target="#upModal">
            <h4>Sign Up</h4>
        </div>
          <!-- UNSURE ABOUT THIS IMAGE -->
          <%# image_tag "screen.png", class:"screen" %>
          <div class="model-chart-container">
              <div class="model-chart">
                    <canvas id="modelPerformance" style="background-color: transparent;"></canvas>
                    <%= content_for :after_js do %>
                    <script>
                        var inputs = {
                          min: -100,
                          max: 100,
                          count: 8,
                          decimals: 2,
                          continuity: 1
                        };
                        var canvas_element = document.getElementById("modelPerformance");
                        var lineChart = new Chart(canvas_element, {
                          type: 'line',
                          data: {
                            labels: <%= raw bet_dates %>,
                            datasets: [{
                                data: <%= raw cumulative_total %>,
                                label: "Portfolio Size",
                                backgroundColor: "rgba(0, 21, 33, 0.7)",
                                borderColor: "rgba(80, 255, 177, 1)",
                                borderWidth: 1,
                                borderCapStyle: 'butt',
                                fill: true
                              }
                            ]
                          },
                          options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            title: {
                              display: false,
                              text: 'Cumulative Profit',
                              fontColor: 'rgba(0,0,0,0)',
                              fontStyle: 'light'
                            },
                            hover: {
                              intersect: true,
                              animationDuration: 400,
                            },
                            scales: {
                              xAxes: [{
                                  display: false,
                                  scaleLabel: {
                                      display: false,
                                      labelString: 'Month'
                                  }
                              }],
                              yAxes: [{
                                  display: true,
                                  scaleLabel: {
                                      display: false,
                                      labelString: 'Portfolio Size'
                                  }
                              }]
                          }
                        }});
                    </script>
                    <% end %>
              </div>
            <div class="text-explanation">
                <p>Our models recommended bet performance 2017/18</p>
            </div>
          </div>
    </div>
  </div>
</div>
