<div id="hex-container">
    <div class="container">
      <ul id="hexGrid">
            <li class="hex">
              <div class="hexIn">
                <a class="hexLink" href="#">
                  <h1>Model Probability</h1>
                  <p>of a Home Win</p>
                </a>
              </div>
            </li>
            <li class="hex">
              <div class="hexIn">
                <a class="hexLink" href="#">
                  <h1>Model Probability</h1>
                  <p>of a Away Win</p>
                </a>
              </div>
            </li>
            <li class="hex">
              <div class="hexIn">
                <a class="hexLink" href="#">
                  <h1>Model Probability</h1>
                  <p>of a Draw</p>
                </a>
              </div>
            </li>
      </ul>
  </div>
</div>
