.front-body {
  padding: 20px;
  h2 {
    margin-top: 0px;
    color: white;
    font-family: "Roboto", "Helvetica", "sans-serif";
    font-size: 40px;
    font-weight: bold;
  }
}
.top-row {
  display: flex;
  justify-content: space-between;
}
.body-headers {
  display: flex;
  justify-content: space-between;

}

#outcome-header {
  margin-left: 345px;
}
#odds-header {
  margin-right: 0px;
}
#rating-header {
  margin-right: 60px;
}
.card-container {
  height: 68vh;
  padding-top: 20px;
  overflow: hidden;
  position: relative;
  .card-container-child {
    position: absolute;
    padding-top: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
    overflow-y: scroll;
  }
}
.white-tooltip + .tooltip > .tooltip-inner {background-color: white; color: #001521}
